.addChallenge {
  margin-bottom:10px;
  padding-right:25px;
}

.addChallenge .form-group {
  margin-bottom:5px;
}

.adminView .name {
  width:21%;
}

.alert.alert-danger.loginError {
  border-radius:0;
  margin:0 auto;
  max-width:380px;
}

.alignCenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.borderRight {
  border-right:1px solid #dfdfdf;
  min-height:438px!important;
}

.btn-danger,.itemsTable .btn-danger {
  margin-left:0;
}

.btn-space {
  margin-right:5px;
}

.card {
  border:none;
  border-radius:.28571429rem;
  box-shadow:0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  font-size:1em;
  margin-bottom:15px;
  overflow:hidden;
  padding:10px;
}

.card h4 {
  margin-top:0;
}

.card-block {
  border:none;
  border-top:1px solid rgba(34,36,38,.1);
  box-shadow:none;
  font-size:1em;
  margin:0;
  padding:1em;
  position:relative;
}

.challenge {
  font-size:18px;
}

.challengeInfo {
  background-color:#FFF;
  padding:10px;
}

.challengeInfo label {
  padding-right:5px;
}

.container h1 {
  margin-bottom:25px;
  margin-top:0;
}

.container.header {
  height:100%;
}

.container.student {
  border-top:2px solid;
}

.description {
  width:24%;
}

.form-control {
  font-size:16px;
  height:163px;
  padding:10px;
  position:relative;
  resize:none;
  word-break:break-all;
}

.form-horizontal .form-group {
  margin-left:0!important;
  margin-right:0!important;
}

.form-signin {
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.1);
  margin:0 auto;
  max-width:380px;
  padding:15px 35px 45px;
}

.form-signin .checkbox {
  font-weight:400;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom:30px;
}

.form-signin input[type="password"],.form-signin input[type="text"] {
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.form-signin input[type="text"] {
  margin-bottom:-1px;
}

.full button span {
  background-color:#32CD32;
  border-radius:32px;
  color:#000;
}

.instructions .container h1 {
  font-size:32px;
  font-weight:600;
}

.logo img {
  padding:10px;
}

.message {
  padding:10px 0;
}

.name,.studentChallenge .student_name,.studentChallenge .student,.studentChallenge .status,.studentChallenge .passFail,.studentChallenge .awardPts,.adminView .student_id,.adminView .email,.adminView .role {
  width:20%;
}

.navbar {
  background-color:#333;
  border-radius:0;
  width:100%;
}

.navbar-default {
  background-color:#FFF!important;
  border-top:3px solid #000!important;
}

.navbar-default .navbar-nav > li > a {
  color:#333!important;
}

.navbar-default .navbar-nav > li > a:hover {
  font-weight:500;
}

.noPadding .col-md-4,.storeFront .col-md-3 {
  padding:0;
}

.padding {
  padding:0 15px;
}

.paddingBottom {
  padding-bottom:25px;
}

.paddingBottom li.list-group-item {
  curser:pointer;
  width:100%;
}

.paddingBottom li.list-group-item:hover {
  background-color:#efefef;
}

.paddingRight {
  padding-right:10px;
}

.paddingTop {
  padding-top:35px;
}

.partially button span {
  background-color:orange;
  border-radius:32px;
  color:#000;
}

.points {
  width:8%;
}

.pts_value {
  width:7%;
}

.qty {
  width:6%;
}

.row.studentContent {
  margin-bottom:35px;
  padding-left:15px;
  padding-right:15px;
}

.school_community {
  width:11%;
}

.search input.form-control {
  border-radius:20px!important;
}

.start_date,.end_date {
  width:13%;
}

.storeFront .description {
  width:28%;
}

.student h2 {
  padding:0 10px;
}

.student summary {
  font-size:20px;
}

.studentList td {
  padding:0 10px 0 5px;
}

.studentNav .container a {
  color:#000;
  pointswidth:9%;
}

.studentPoints {
  text-align:center;
  width:auto;
}

.student_name {
  width:9%;
}

.submitButton {
  padding-top:25px;
}

.table > tbody > tr > td {
  vertical-align:middle!important;
}

.table > thead > tr > th {
  border-bottom:none!important;
}

.table-responsive {
  overflow-x:inherit!important;
}

.topPadding {
  margin-top:-10px;
}

.topRight {
  padding:10px;
  position:absolute;
  right:0;
  top:0;
}

.wrapper {
  min-height:100%;
}

a.studentHomeIcon {
  color:#000;
  float:left;
  font-size:18px;
  height:68px;
  padding:25px 10px 10px;
}

body,html {
  background-color:#FFF;
  font-family:sans-serif;
  font-size:14px;
  margin:0;
  padding:0;
  word-break: break-all;
  
}

details {
  border-radius:3px;
  margin:0;
  padding:5px;
}

footer {
  background-color:#F8F8F8;
  border-top:1px solid #E7E7E7;
  bottom:0;
  position:fixed;
  text-align:center;
  width:100%;
  z-index:2;
}

h1.vanguardTech {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}

input.editable-input,textarea.editable-input {
  width:100%!important;
}

li a {
  color:#FFF;
  display:block;
  padding:14px 16px;
  text-align:center;
  text-decoration:none;
}

li a:hover {
  color:#eee;
  text-decoration:underline;
}

summary {
  background-color:#FFF;
  border-radius:3px;
  font-size:18px;
  outline:none;
  padding:5px 10px;
}

td span {
  word-break:break-all;
}

ul {
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0;
}

ul.list-group {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  position:absolute;
  width:86%;
  z-index:2;
}

@media only screen and min-device-width 320px and max-device-width 480px{
  ul.list-group {
    width:100%!important;
  }
}
