<div ng-include="'views/partials/nav.html'"></div>
<div class="container admin">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <h1>Administrator View</h1>

    </div>
  </div>
  <div class="row">

  <div class="col-md-3">
    <h4>Search user</h4>
    <form class="form-horizontal hidden-xs hidden-sm">
      <div class="form-group">
        <input class="form-control input-md" type="text" ng-model="avuc.filterName" placeholder="Type to search">
      </div>
      <div class="form-group">
        <select ng-model="avuc.filterType" class="form-control">
        <option value="">All</option>
        <option value="student">Student</option>
        <option value="teacher">Teachers</option>
        <option value="Store Manager">Store Managers</option>
        <option value="admin">Admins</option>
      </select>
    </div>
    </form>
    <hr>
    <h4>Add user</h4>
    <form ng-submit="avuc.usersService.addUser(avuc.newUser)" class="form-horizontal">
      <div class="form-group">
        <input class="form-control input-md" required type="email" ng-model="avuc.newUser.email" placeholder="Enter new users email">
      </div>
      <div class="form-group">
        <select ng-model="avuc.newUser.role" class="form-control">
          <option value="">Select a role</option>
          <option value="1">Admin</option>
          <option value="2">Store Manager</option>
          <option value="3">Teacher</option>
          <option value="4">Student</option>
        </select>
      </div>
      <div class="form-group">

        <button type="submit" name="button" class="btn btn-md btn-primary hidden-sm hidden-xs">Add User</button>
        <button type="submit" name="button" class="btn btn-lg btn-primary btn-block visible-sm visible-xs">Add User</button>
      </div>

    </form>
    <form class="form-horizontal hidden-md hidden-lg">
      <div class="form-group">
        <input class="form-control input-md" type="text" ng-model="avuc.filterName" placeholder="Search table">
      </div>
      <div class="form-group">
        <select ng-model="avuc.filterType" class="form-control">
        <option value="">All</option>
        <option value="student">Student</option>
        <option value="teacher">Teachers</option>
        <option value="Store Manager">Store Managers</option>
        <option value="admin">Admins</option>
      </select>
    </div>
    </form>

    </div>
    <div class="col-md-9">
      <table class="table table-responsive adminView">
        <thead>
          <th ng-click="avuc.changeOrderBy('name')" class="name">
            Name
            <span ng-if="avuc.orderBy == '-name'"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            <span ng-if="avuc.orderBy == 'name'"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </th>
          <th ng-click="avuc.changeOrderBy('student_id')" class="student_id">
            Id
            <span ng-if="avuc.orderBy == '-student_id'"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            <span ng-if="avuc.orderBy == 'student_id'"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </th>
          <th ng-click="avuc.changeOrderBy('email')" class="email" >
            Email
            <span ng-if="avuc.orderBy == '-email'"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            <span ng-if="avuc.orderBy == 'email'"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </th>
          <th ng-click="avuc.changeOrderBy('role')" class="role">
            Role
            <span ng-if="avuc.orderBy == '-role'"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            <span ng-if="avuc.orderBy == 'role'"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="user in avuc.usersService.appUsers | orderBy: avuc.orderBy | filter: avuc.filterType | filter: avuc.filterName">

            <td>
              <span ng-show="!rowform.$visible"  e-class="name form-control" editable-text="user.name"  e-form="rowform"  >{{user.name}}</span>
            </td>
            <td>
              <span ng-show="!rowform.$visible"  e-class="student_id form-control" editable-text="user.student_id"  e-form="rowform"  >{{user.student_id}}</span>
            </td>
            <td>
              <span ng-show="!rowform.$visible"  e-class="email form-control" editable-text="user.email"  e-form="rowform"  >{{user.email}}</span>
            </td>
            <td>
              <span ng-show="!rowform.$visible" e-ng-options="role.value as role.text for role in avuc.roleList"  e-class="role form-control" buttons="no" editable-select="user.role" e-form="rowform">
                {{user.role | role}}
              </span>
            </td>
            <td class="actionButtons hidden-sm hidden-xs">
              <form onaftersave="avuc.usersService.editUser(user)" editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success btn-md btn-space">
                  <i class="fa fa-check" aria-hidden="true"></i>

                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-info btn-md btn-space">
                  <i class="fa fa-times" aria-hidden="true"></i>

                </button>
              </form>
              <div ng-show="!rowform.$visible">
                <button type="button" class="btn btn-primary btn-sm btn-space" ng-click="rowform.$show()"> Edit </button>
                  <button type="button" class="btn btn-danger btn-sm btn-space" name="button" ng-click="avuc.usersService.deleteUser(user)">
                    Delete
                  </button>
                </div>
              </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  </div>
