<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-9">
    <h1>Transactions</h1>

  </div>
</div>
<div class="row">

  <div class="col-md-3 topPadding borderRight">
    <h4>Transaction Search</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <input type="text" ng-model="atc.filterInput" class="form-control">
      </div>
      <div class="form-group">
        <select ng-model="atc.filterType" class="form-control">
          <option value="">All</option>
          <option value="sale">Sales</option>
          <option value="challenge">Challenges</option>
        </select>
      </div>

    </form>
  </div>
  <div class="col-md-9">

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Student Name</th>
        <th>Employee Name</th>
        <th>Reason</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in atc.usersService.transactions | orderBy: atc.orderBy | filter: atc.filterType | filter: atc.filterInput">
        <td>{{transaction.timestamp | date}}</td>
        <td>{{transaction.studentName}} {{transaction.student_id}}</td>
        <td>{{transaction.employeeName | teacherName}} {{transaction.employee_id}}</td>
        <td>
          <span ng-if="transaction.type == 'challenge'">Challenge: {{transaction.challengeName | challengeName}}</span>
          <span ng-if="transaction.type == 'sale'">Sale: {{transaction.itemName | itemName}}</span>
        </td>
        <td>{{transaction.pts}} points</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
