<div class="container login">

<div class="wrapper">
  <div class="alert alert-danger loginError" role="alert" ng-if="lc.message != ''">{{lc.message}}</div>

  <form ng-submit="lc.login()" class="form-signin">

      <h2 class="form-signin-heading">Please login</h2>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control " name="username" placeholder="Username" ng-model="lc.user.username" required="" autofocus="" />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" ng-model="lc.user.password" class="form-control" name="password" placeholder="Password" required=""/>

      </div>

      <div class="submitButton">
        <button class="submit btn btn-md btn-primary hidden-sm hidden-xs" type="submit" name="submit" value="Log In">Login</button>
        <button class="submit btn btn-primary btn-block visible-sm visible-xs" type="submit" name="submit" value="Log In">Login</button>
        <a href="#register" class="btn hidden-sm hidden-xs btn-link">Register</a>
        <a href="#register" class="btn btn-block visible-sm visible-xs btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
