<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    In Info
  </p>
  <button type="button" class="btn btn-default" ng-click="mc.open()">Open me!</button>

  <div class="modal-demo">
    <!-- the actual template HTML -->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{mic.title}}</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <p>Modal Body Content</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mic.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mic.cancel()">Cancel</button>
      </div>
    </script>

  </div>
</div>
