<div class="container">
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <div class="wrapper">


  <form ng-submit="lc.registerUser()" class=form-signin>
    <h3>Please register</h3>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input type="password" ng-model="lc.user.password" class="form-control" name="password" placeholder="Password" required=""/>

    </div>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control " name="username" placeholder="Username" ng-model="lc.user.username" required="" autofocus="" />
    </div>
    <button class="btn btn-block btn-primary hidden-sm hidden-xs" type="submit" name="submit" value="Log In">Login</button>
    <button class="btn btn-block btn-primary visible-sm visible-xs " type="submit" name="submit" value="Log In">Login</button>
    <a href="#home" class="btn btn-block btn-link">Cancel</a>
  </form>
</div>
</div>
