<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-9 paddingBottom">

      <form class="form-inline">
        <input type="text" ng-model="msc.students" ng-keyup="msc.complete(msc.students)" placeholder="Student Name"/>
        <ul class="list-group" ng-show="!msc.showMe" ng-hide="msc.showMe">
          <div ng-repeat="data in msc.filterStudents">
            <li class="list-group-item" ng-click="msc.textbox(data)">{{data.name}}</li>
          </div>
        </ul>

        <!-- Text input-->
        <div class="input-group input-group-sm paddingRight ">
          <input type="text" class="form-control input-xs"placeholder="Student ID">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>

        </div>

        <!-- Button -->
        <div class="form-group ">
          <label class=" control-label sr-only" for="search"></label>
          <div class="">
            <button id="search" name="search" class="btn btn-primary btn-sm">Search</button>
          </div>
        </div>
        <!-- <button ng-click="msc.showStudent(msc.selectedStudent, msc.students)">show</button> -->
      </form>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3 borderRight">

      <form class="form-horizontal padding" ng-submit="msc.submitNewItem(msc.newItem)">
        <!-- Text input-->
        <div class="form-group itemName">

          <label for="itemName">Item Name</label>
          <input id="itemName" name="itemName" type="text" placeholder="Item Name" class="form-control">
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label for="itemDescription">Item Description</label>
          <textarea id="itemDescription" rows="2" name="itemDescription" type="textarea" placeholder="Item Description" class=" form-control"></textarea>

        </div>

        <!-- Text input-->
        <div class="form-group">
          <label for="itemCost">Item Cost</label>
          <input id="itemCost" name="itemCost" type="text" placeholder="Item Cost" class="form-control">

        </div>
        <div class="form-group">
          <label for="itemCost">Item Quantity</label>
          <input id="itemQuantity" name="itemQuanity" type="number" placeholder="Item Quantity" class="form-control">

        </div>


        <!-- Multiple Radios -->
        <div class="form-group">
          <label class="sr-only" for="radio">Community or School</label>

          <div class="radio">
            <label for="type-0">
              <input type="radio" name="type" id="type-0" value="True" checked="checked">
              School
            </label>
          </div>
          <div class="radio">
            <label for="type-1">
              <input type="radio" name="type" id="type-1" value="False">
              Community
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="getItems">List Items</label>
          <button type="submit" class="btn btn-info btn-sm">Add Items</button>
        </div>

      </form>
    </div>
    <div class="col-md-9 topPadding">


      <table class="table table-hover">
        <thead>
          <th>Item Name</th>
          <th>Item Description</th>
          <th>Points</th>
          <th>Qty</th>
          <th>Type</th>
          <th>Last Edited by:</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in msc.itemList">
            <td>{{item.item_name}}</td>
            <td>{{item.item_description}}</td>
            <td>{{item.pts_value}}</td>
            <td>{{item.item_qty}}</td>
            <td>{{item.school_community}}</td>
            <td>{{item.name}}</td>
            <td><button ng-click="msc.editItem(item)" class="btn btn-default">Edit</button></td>
            <td><button ng-click="msc.deleteItem(item)" class="btn btn-default">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
