<div class="container">
  <div class="row studentContent">
    <h2>Challenges</h2><!-- {{scc.userObject.info.student_id}} -->
    <form class="form-horizontal noPadding">
      <div class="form-group">
        <label class="col-md-4 control-label" for="challengeSelect">Select challenge </label>
        <div class="col-md-4">
          <select id="challengeSelect" name="challengeSelect" class="form-control" ng-model="scc.currentChallenges">
            <option ng-value="scc.unacceptedChallenges">All</option>
            <option ng-value="scc.acceptedChallenges">Accepted</option>
          </select>
        </div>
      </div>

    </form>
  <div class="card col-md-4" ng-repeat="challenge in scc.currentChallenges.challenges">
    <div class="card-body">
      <h4 class="card-title">{{challenge.challenge_name}}</h4>
      <h5>{{challenge.teacher_name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{challenge.description}}</h6>
      <p class="card-text"><strong>Start Date:</strong> {{challenge.start_date | date:'fullDate'}}</p>
      <button ng-hide="scc.currentChallenges.accepted" type="button" name="button" class="btn btn-sm btn-primary" ng-click="scc.acceptChallenge(challenge.id)">Accept</button>
    </div>
  </div>
  <div class="row">
    <footer>
      <a href="#" class="btn btn-link center-block" ng-click="uc.userService.logout()"><i class="fa fa-sign-out 2x" aria-hidden="true"></i>
        Log Out</a>
      </footer>
  </div>
</div>
