<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Challenges</h1>
    </div>
  </div>

  <div class="row">
    <form class="form-horizontal"  ng-submit="tcc.challengesService.addChallenge(tcc.newChallenge)">

      <!-- Text input-->
      <div class="form-group col-md-2">
        <label class="control-label" for="challengeName">Challenge Name</label>
        <div>

          <input id="challengeName" name="challengeName" type="text" placeholder="Challenge Name" class="form-control input-md" ng-model="tcc.newChallenge.challenge_name">

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group col-md-4">
        <label class="control-label" for="text">Challenge Description</label>

        <div>

          <input class="form-control" type="text" ng-model="tcc.newChallenge.description" placeholder="Challenge Description"></textarea>
        </div>
      </div>


      <div class="form-group col-md-2">
        <div class="">
          <label  class="control-label" for="startDate">Start Date</label>
        </div>
        <div class="input-group">
          <input type="text" id="startDatePicker" class="form-control input-md" ng-model="tcc.newChallenge.start_date" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="tcc.startDateConfig" ng-focus="tcc.startDateConfig.open=true" minDate="tcc.startDateConfig.minDate"
          is-open="tcc.startDateConfig.open" show-button-bar="true" placeholder="Start Date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>

      <div class="form-group col-md-2">
        <div class="">
          <label  class="control-label" for="End Date">End Date</label>
        </div>
        <div class="input-group">
          <input type="text" id="startDatePicker" class="form-control input-md" ng-model="tcc.newChallenge.end_date" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="tcc.endDateConfig" ng-focus="tcc.endDateConfig.open=true" minDate="tcc.endDateConfig.minDate"
          is-open="tcc.endDateConfig.open" show-button-bar="true" placeholder="End Date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
      <div class="form-group col-md-1">
        <div>
          <label class="control-label" for="text">Points</label>

        </div>
        <input class="form-control input-md" type="text" id="pointValue" name="textarea" ng-model="tcc.newChallenge.pts_value"></textarea>
      </div>
      <!-- Button -->
      <div class="form-group col-md-1">
        <div class="">
          <label for="" class="control-label"></label>
        </div>

        <button id="addChallenge" name="addChallenge" tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="Add Challenge" class="btn btn-link" ng-click="tcc.addChallenge(tcc.newChallenge)">Add
        </button>
      </div>
    </form>
  </div>

  <!-- table with list of challenges -->
  <div class="row">

    <div class="col-md-12">
      <div class="table-responsive table-condenced table-hover">

        <table class="table">
          <thead>
            <th class="name">Challenge Title</th>
            <th class="description">Description</th>
            <th class="start_date">Start Date</th>
            <th class="end_date">End Date</th>
            <th class="pts_value">Points</th>
            <th class="student_name">Students Involved</th>
            <th class="edit">Edit</th>
          </thead>
          <tbody>
            <tr ng-repeat="challenge in tcc.challengesService.challenges" class="itemsTable">
              <td>
                <span ng-show="!rowform.$visible"  e-class="name" editable-text="challenge.challenge_name"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.challenge_name}}</span>
              </td>
              <td>
                <span ng-show="!rowform.$visible"  e-class="description" editable-text="challenge.description"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.description}}</span>
              </td>

              <td>
                <span ng-show="!rowform.$visible"  e-class="start_date" editable-text="challenge.start_date"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.start_date | date: 'MM/dd/yyyy'|| 'empty' }}</span>
              </td>
              <td>
                <span ng-show="!rowform.$visible"  e-class="end_date" editable-text="challenge.end_date"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.end_date | date: 'MM/dd/yyyy'|| 'empty' }}</span>
              </td>
              <td>
                <span ng-show="!rowform.$visible"  e-class="pts_value" editable-text="challenge.pts_value"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.pts_value}}</span>
              </td>
              <td>
                <span ng-show="!rowform.$visible"  e-class="student_name" editable-text="challenge.student_name"  e-form="rowform" class="hidden-sm hidden-xs" >{{challenge.student_name}}</span>
              </td>
            </td>

            <td class="actionButtons hidden-sm hidden-xs">
              <form onaftersave="tcc.challengesService.updateChallenge(challenge)" editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == challenge">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-link">
                  <i class="fa fa-save fa-lg"></i>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-link">
                  <i class="fa fa-times fa-lg"></i>
                </button>
              </form>
              <div ng-show="!rowform.$visible">
                <button type="button" class="btn btn-link" ng-click="rowform.$show()">
                  <i class="fa fa-edit fa-lg"></i></button>
                  <button type="button" class="btn btn-link" name="button" ng-click="tcc.challengesService.deleteChallenge(challenge)">
                    <i class="fa fa-trash-alt fa-lg"></i>
                  </button>
                </div>
              </td>
              <!-- <td><button ng-click="msc.itemsService.editItem(item)" class="btn btn-primary">Edit</button></td>
              <td><button ng-click="msc.itemsService.deleteItem(item)" class="btn btn-danger">Delete</button></td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
